html {
   font-family: Verdana;
}
header {
   font-size: 74px;
   text-align: center;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   width: 50vw;
}
div {
   height: 20px;
   background-color: coral;
   color: white;
   text-transform: uppercase;
   text-align: center;
   line-height: 200px;
}